@use "var";

.firstFlex {
  width: 90vw;
  display: flex;
  justify-content: center;
}
#aboutFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var.$defaultColor;
}

#aboutFlex h2 {
  position: absolute;
  animation: heading 1s 1 forwards ease-in;
  opacity: 0;
  color: var.$defaultColor;
}

#aboutFlex h3 {
  position: absolute;
  animation: hdrei 1s 1s 1 linear forwards;
  opacity: 0;
  color: var.$textColor;
  text-align: left;
  font-size: 250%;
  top: 20%;
}

@keyframes hdrei {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 20%;
    left: 20%;
  }
}

#aboutFlex p {
  position: absolute;
  opacity: 0;
  font-size: 220%;
  color: var.$defaultColor;
  text-align: left;
  top: 70%;
  left: 20%;
  animation: paragraph 1s 2s 1 forwards ease-in;
}

@keyframes paragraph {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 40%;
    left: 20%;
  }
}
