@use "var";

body {
  background-image: url(/images/paul-volkmer-qVotvbsuM_c-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

.gridContainer {
  width: 100vw;
  height: 100vh;
  // display: grid;
  // grid-template-rows: repeat(5, 1fr);
  // grid-template-columns: repeat(5, 1fr);
}

.services {
  // grid-column-start: 2;
  // grid-row-start: 2;
  // grid-column-end: 5;
  // grid-row-end: 5;
  background-color: #494e497c;
  border-radius: 10%;
  color: white;
  text-align: center;
  animation: opening 3s linear 1 forwards;
}

@keyframes opening {
  0% {
    top: 10vh;
    left: 50vw;
    opacity: 0;
  }
  10% {
    width: 0;
    opacity: 0.2;
  }
  100% {
    width: 40vw;
    aspect-ratio: 1/1;
  }
}

#services h2 {
  position: absolute;
  animation: heading 2s 1s 1 forwards ease-in;
  opacity: 0;
  color: var.$defaultColor;
}

@keyframes heading {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 10%;
    left: 20%;
  }
}

#services h4 {
  position: absolute;
  animation: heading4 2s 1s 1 forwards ease-in;
  opacity: 0;
  font-size: 1.5rem;
  color: var.$textColor;
  text-align: left;
}
@keyframes heading4 {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 20%;
    left: 20%;
  }
}

.design {
  position: absolute;
  opacity: 0;
  animation: design 3s 1s 1 forwards ease-in;
  text-align: left;
}

.design h1 {
  color: var.$defaultColor;
}
.design ul li {
  font-size: 1.5rem;
  color: var.$textColor;
}

@keyframes design {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 40%;
    left: 10%;
  }
}
.maintenance {
  position: absolute;
  opacity: 0;
  animation: maintenance 2s 3s 1 forwards ease-in;
  text-align: right;
}
@keyframes maintenance {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 70%;
    left: 30%;
  }
}

.maintenance h1 {
  color: var.$defaultColor;
}
.maintenance ul li {
  font-size: 1.5rem;
  color: var.$textColor;
}

.close {
  width: 5rem;
  aspect-ratio: 1/1;
  font-size: 3rem;
  background-color: black;
  color: var.$defaultColor;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 5%;
  top: 5%;
}

.close:hover {
  width: 6rem;
}

.close a {
  text-decoration: none;
  color: var.$defaultColor;
}

footer {
  position: fixed;
  text-align: center;
  width: 100vw;
  bottom: 0;
  padding: 2rem;
}
