@use "var";

body {
  background-image: url(/images/paul-volkmer-qVotvbsuM_c-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

.flexContainer {
  width: 90vw;
  display: flex;
  justify-content: center;
}

#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#services h2 {
  position: absolute;
  animation: heading 2s 1 forwards ease-in;
  opacity: 0;
  color: var.$defaultColor;
}

@keyframes heading {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 50%;
  }

  100% {
    opacity: 1;
    top: 10%;
    left: 20%;
  }
}

#services h4 {
  position: absolute;
  animation: heading4 2s 1s 1 forwards ease-in;
  opacity: 0;
  font-size: 1.5rem;
  color: var.$textColor;
  text-align: left;
}
@keyframes heading4 {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 20%;
    left: 20%;
  }
}

.design {
  position: absolute;
  opacity: 0;
  animation: design 3s 1s 1 forwards ease-in;
  text-align: left;
}

.design h1 {
  color: var.$defaultColor;
}
.design ul li {
  font-size: 1.5rem;
  color: var.$textColor;
}

@keyframes design {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 40%;
    left: 10%;
  }
}
.maintenance {
  position: absolute;
  opacity: 0;
  animation: maintenance 2s 3s 1 forwards ease-in;
  text-align: right;
}
@keyframes maintenance {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 70%;
    left: 60%;
  }
}

.maintenance h1 {
  color: var.$defaultColor;
}
.maintenance ul li {
  font-size: 1.5rem;
  color: var.$textColor;
}
